.membership{
    @include component_size;
    text-align: center;
}
.email-box{
    margin: 20px auto;
    position: relative;
    display: flex;
    label{
        position: absolute;
        color: #aaa;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
    }
    &.focused{
        label{
            top: 15px;
  
