.membership{
    @include component_size;
    text-align: center;
}
.email-box{
    margin: 20px auto;
    position: relative;
    display: flex;
    label{
        position: absolute;
        color: #aaa;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
    }
    &.focused{
        label{
            top: 15px;
            font-size: 10px;
        }
    }
    input{
        justify-content: center;
        align-items: center;
        // flex: 1;
        background-color: rgb(0, 0, 0, 0.8);
        width: 500px;
        font-size: $font-size-medium;
        color: #fff;
        padding: 0.5rem 1rem;
        padding-top: 20px;
        margin-right: 10px;
        transition: 0.3s;
        @include responsive($breakpoint-small){
            width: 100%;
        }
    }
    button{
        width: 150px;
        font-size: $font-size-medium;
        @include button-style;
    }
}
