.move-slider{
    @include component_size;
    position: relative;
    //기본 화살표에 가상 요소 삭제
    .slick_prev:before,
    .slick_next:before{
        content: '';
    }
    .slick_prev,
    .slick_next{
        background-color: rgba(46, 45, 45, 0.7);
        border-radius: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 30px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        cursor: pointer;
        color: #fff;
        &:hover{
            background-color: rgba(255,255,255,0.5);
            color: black;
        }
    }
    .slick_prev{
        left: -50px;
    }
    .slick_next{
        right: -50px;
    }
.movie-card{
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
    }
}
    span{
        position: absolute;
        left: -10px;
        bottom: 0;
        font-size: 100px;
        font-weight: bolder;
        // -webkit-text-stroke: 2px #fff;
        // -webkit-text-fill-color: #000;
        color: #000;
        text-shadow: -2px -2px 0 #fff,
                      2px -2px 0 #fff,
                      -2px 2px 0 #fff,
                      2px 2px 0 #fff;
    }
    
    img{
        width: 90%;
        margin: 22px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
}